.App {
  background: linear-gradient(35deg, blue, white);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  margin-top: 20vh;
  padding: 2%;
}
.App .output-div {
  display: flex;
  align-self: center;
  align-items: center;
  background-color: 36;
  border: 1px solid black;
  padding: 0 20% 0 20%;
  gap: 10%;
}
.App button {
  border: none;
  background-color: white;
  padding: 1% 3% 1% 3%;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.1rem white;
}
.App button:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 0 1rem 0.1rem blue;
}
.App form {
  display: flex;
  padding: 1%;
  gap: 2%;
}
.App form label input {
  border: none;
  outline: none;
}/*# sourceMappingURL=main.css.map */