.App {
  background: linear-gradient(35deg, blue, white);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  margin-top: 20vh;
  padding: 2%;
  .output-div {
    display: flex;
    align-self: center;
    align-items: center;
    background-color: blue($color: #7c2424);
    border: 1px solid black;
    padding: 0 20% 0 20%;
    gap: 10%;
  }
  button {
    border: none;
    background-color: white;
    padding: 1% 3% 1% 3%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.1rem white;
  }
  button:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 0 1rem 0.1rem blue;
  }
  form {
    display: flex;
    padding: 1%;
    gap: 2%;
    label {
      input {
        border: none;
        outline: none;
      }
    }
  }
}
